<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/181a5d7d-d6cb-475a-8bd9-28dc459618ca/resourcegroups/ContainerRG/providers/Microsoft.ContainerRegistry/registries/TutorialApp</ResourceId>
    <ResourceName>TutorialApp</ResourceName>
    <ResourceGroup>ContainerRG</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://tutorialapp.azurecr.io</RegistryUrl>
    <UserName>TutorialApp</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7eab8d82-0d7c-49dd-aed1-f7477dd74257</ProjectGuid>
  </PropertyGroup>
</Project>