################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TutorialB2CApp/bin/Debug/netcoreapp3.0
